*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: black;
    color: white;
}

.screen-display{
    text-align: center;
    font-size: 45px;
    margin-top: 150px;
    margin-left: 94px;
}

.buttons{
    text-align: center;
    margin-top: 9px;
    padding-right: 62px;
}

.numbers{
    height: 49px;
    width: 49px;
    background-color: rgb(44, 41, 41);
    border-radius: 50%;
    display: inline-block;
    text-align: center; 
    cursor: pointer;
    padding: 10px;
    font-size: 26px;
    color: white;
}

.operation{
    height: 49px;
    width: 49px;
    background-color: rgb(136, 128, 128);
    border-radius: 50%;
    display: inline-block;
    text-align: center; 
    cursor: pointer;
    padding: 10px;
    font-size: 26px;
    color: white;
}

.operations{
    height: 49px;
    width: 49px;
    background-color: rgb(231, 166, 44);
    border-radius: 50%;
    display: inline-block;
    text-align: center; 
    cursor: pointer;
    padding: 9px;
    font-size: 26px;
    color: white;
}

.number{
    height: 54px;
    width: 101px;
    background-color: rgb(44, 41, 41);
    border-radius: 45px;
    display: inline-block;
    text-align: center; 
    cursor: pointer;
    padding: 10px;
    font-size: 26px;
    padding-right: 55px;
    color: white;
}

div{
    margin-top: 9px;
}

.numbers:hover{
    background-color: rgb(65, 61, 57);
    transition: 0.2s;
}

.operation:hover{
    background-color: rgb(155, 147, 140);
}

.operations:hover{
    background-color: rgb(246, 230, 216);
}

.dott:hover{
    background-color: rgb(65, 61, 57);
    transition: 0.2s;
}

.switch{
    text-align: center;
    margin-top: 18px;
    padding-right: 60px;
}
.btn-on{
    width: 80px;
    height: 40px;
    cursor: pointer;
    background-color: green;
    border-radius: 30px;
}

.btn-off{
    width: 80px;
    height: 40px;
    cursor: pointer;
    background-color: red;
    border-radius: 30px;
}